.main__quienes {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-weight: bold;
  margin: 10px; }
  .main__quienes h1 {
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px black;
    margin: 10px;
    background-color: whitesmoke; }
  .main__quienes p {
    background-color: whitesmoke;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px black;
    padding: 20px;
    margin: 10px; }
  .main__quienes .img__quienes {
    border-radius: 1rem; }

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px; }
  .flex-container .form {
    min-width: 400px;
    flex: 1;
    text-align: right;
    padding: 30px; }
  .flex-container .form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid black;
    background: whitesmoke; }
  .flex-container .form textarea {
    min-height: 140px; }

.form-img {
  flex: 1;
  padding: 10px;
  display: flex; }
  .form-img .img-container {
    margin: auto; }
    .form-img .img-container div {
      background-color: #fff;
      border-radius: 30%;
      text-align: center;
      padding: 40px; }
  .form-img img {
    width: 30%;
    margin: auto; }

.main__suplementos {
  background-color: whitesmoke;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px black;
  padding: 10px;
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr;
  grid-template-areas: "mainP mainP" "imagen1 imagen2" "imagen3 imagen4" "parrafo parrafo";
  justify-content: center;
  justify-items: center;
  align-items: center; }

.section__suplementos {
  background-color: whitesmoke;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px black;
  padding: 10px;
  margin: 40px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "mainP mainP" "imagen1 imagen2" "imagen3 imagen4" "parrafo parrafo";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .section__suplementos :hover {
    transform: scale(1);
    box-shadow: 3px 3px black; }
  @media (max-width: 576px) and (min-width: 280px) {
    .section__suplementos {
      background-color: whitesmoke;
      border-radius: 1rem;
      font-weight: bold;
      box-shadow: 2px 2px black;
      padding: 10px;
      margin: 40px;
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 2fr;
      grid-template-areas: "mainP" "imagen1" "imagen3 " "parrafo";
      justify-content: center;
      justify-items: center;
      align-items: center; } }

.proteina {
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px black;
  background-color: skyblue;
  padding: 10px;
  margin: 10px; }

.producto__suplementos--uno {
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px black; }

.producto__suplementos--info {
  margin: 50px;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold; }

body {
  background-image: linear-gradient(to bottom, skyblue, #005c8a); }

.navbar-brand {
  width: 25%; }

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 1rem;
  background-color: whitesmoke;
  border-radius: 0.4rem;
  font-weight: bold;
  box-shadow: 2px 2px black;
  padding: 10px; }

.menu h1 {
  color: black;
  text-align: center;
  font-size: 2.3rem;
  text-shadow: 2px 2px whitesmoke; }

.padre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px black;
  padding: 50px; }

.padre__produc {
  display: grid;
  grid-template-columns: 2fr 2fr  2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: stretch; }
  @media (max-width: 576px) and (min-width: 280px) {
    .padre__produc {
      flex-direction: column;
      flex-direction: column;
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 1fr; } }

.pie__pagina {
  text-align: center;
  font-weight: bold;
  margin: 20px;
  border-top: 1px solid black;
  padding: 20px;
  margin: 20px; }
  .pie__pagina .img__redes {
    width: 2%; }
